.header__lang-link {
    width: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    text-align: right;
    text-decoration-line: underline;
    color: #FFFFFF;
    vertical-align: bottom;
}

@media screen and (max-width: 425px) {
    .header__lang-link {
        width: 22px;
        height: 24px;
    }
}