.header__lang-link {
    width: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 117%;
    text-align: right;
    color: #FFFFFF;
    vertical-align: bottom;
}

@media screen and (max-width: 425px) {
    .header__lang-link {
        width: 22px;
        font-size: 18px;
        line-height: 133%;
    }
}