.photo-grid {
    margin: 92px auto 0 auto;
    width: 90.625%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 1.37vw;    
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        width: 1184px;
        gap: 16px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        width: 93.75%;
        gap: 2.08vw;
        margin-top: 11.46vw;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        margin-top: 20vw;
        width: 90%;
        gap: 12px;
    }
}