.header {
    padding-top: 28px;
    margin: 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (min-width: 1280px) {
    .header {
        max-width: 1184px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .header {
        margin: 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        margin: 0 5%;
        padding-top: 16px;
        min-height: 42px;
    }
}
