.header__lang-link-zone {
    list-style: none;
    display: flex;
    width: calc(30px + 30px + 18px);
    margin: 0 0;
    padding-inline-start: 0;
    justify-content: space-between;
}

@media screen and (max-width: 425px) {
    .header__lang-link-zone {
        width: calc(22px + 22px + 18px);
    }
}