.lead__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    width: 720px;
    margin: 0 auto;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .lead__title {
        width: 93.75vw;
        font-size: 12.5vw;
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        width: 90%;
        font-size: 40px;
        line-height: 44px;
    }
}