.intro {
    padding-top: 92px;
    width: 690px;
    padding-left: calc((100vw - 90.625vw)/2);
}

@media screen and (min-width: 1280px) {
    .intro {
        padding-left: calc((100vw - 984px)/2);
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-top: 11.46vw;
        width: 93.75%;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        padding-top: 20%;
        width: 90%;
        padding-left: 0;
        margin: 0 auto;
    }
}