.cover {
    background-image: url(../../images/cover__background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 62.5vw;
    margin-top: 92px;
    position: relative;
}

.cover:hover .cover__overlay {
    opacity: 0.8;
}

@media screen and (min-width: 1280px) {
    .cover {
        max-width: 1184px;
        max-height: 740px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 88px;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        margin-top: 64px;
    }
}